body.product-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh
}

.product-action {
    width: 100%;
}

.action-2 i {
    cursor: pointer;
}

.quantity {
    height: 35px;
    width: 40px;
    border-radius: 5px;
    color: #fff;
}

.description-text {
    margin-top: 60px;
}

.desc-text {
    font-size: 18px;
}

.desc-title {
    font-size: 1.5em; 
}

.price {
    font-size: 2.2em;
}

.price-qty {
    display: flex;
}

.qty-edit {
    display: flex;
    align-items: center;
}

/* Responsive Breakpoints Product-Detail */

@media (max-width: 768px) {
    .description-text {
        margin-top: 0px;
    }

    .desc-text {
        font-size: 14px;
    }

    .product-action {
        justify-content: center;
    }
}

@media (max-width: 375px) {
    
    .product-action {
        padding: 10px;
        /* justify-content: start; */
    }
    
    .beli {
        width: 30px;
        display: flex;
        justify-content: center;
        font-weight: 600;
    }

    .tambah {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tambah span {
        display: none;
    }

    .tambah i {
        font-size: 20px;
        padding: 3px;
    }

    .title {
        font-size: 20px;
    }

    .title-desc {
        font-size: 18px;
    }

    .product-category {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .price-qty {
        display: block;
        margin-top: 0px;
    }

    .vl {
        display: none;
    }

    .qty-edit {
        width: 100%;
        justify-content: start;
    }
}