/* Index Home */

.index-home .card {
    margin-bottom: 0px;
}

.card-product {
    margin-bottom: 100px;
}

/* Responsive Breakpoints Index Home */

@media only screen and (max-width: 576px) {
    .carousel-caption {
        display: none;
    }

}

/* Index Home End */


/* Cart */

.product-cart {
    position: relative;
    top: 100px; 
    bottom: 100px; 
    width: 100%;
    padding-bottom: 80px;
}

.product-data-price {
    padding-left: 50px;
}

.color-box-1 {
    width: 20px; 
    height: 20px; 
    background-color: black;
}

.color-box-2 {
    width: 20px; 
    height: 20px; 
    background-color: red;
}

.color-box-3 {
    width: 20px; 
    height: 20px; 
    background-color: green;
}

.variant-box {
    width: 100px; 
    height: 40px;
    border-radius: 5px;
}

.qty button {
    border: none; 
    border-radius: 5px; 
    width: 30px; 
    height: 30px;
}

.btn-qty-1 {
    background-color: orange;
}

.btn-qty-2 {
    background-color: rgb(0, 228, 0);
}

.product-action-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-product-cart {
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Responsive Breakpoints Cart */
@media only screen and (max-width: 576px) {
    .product-cart {
        top: 0px;
    }

    .product-name {
        font-size: 14px;
        font-weight: 600;
    }

    .product-data-price {
        padding-left: 20px;
        font-size: 16px;
    }

    .color-box-1 {
        width: 15px; 
        height: 15px; 
    }

    .color-box-2 {
        width: 15px; 
        height: 15px; 
    }

    .color-box-3 {
        width: 15px; 
        height: 15px; 
    }

    .variant-box {
        width: 100px; 
        height: 35px;
        border-radius: 5px;
        font-size: 13px;
    }

    .product-action-cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
/* Cart End */

/* Shop Page */

section.content {
    margin-top: 90px
}

.breadcrumb-container {
    padding: 0;
}

.searchbar-container {
    padding: 0;
}

/* Responsive Breakpoints Shop */

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .product-content {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 576px) {
    .searchbar-container {
        margin-top: 20px;
    }

    .breadcrumb-container {
        padding: 0;
    }

    .pagination-container {
        margin-bottom: 70px;
    }
}

/* Shop Page End*/


/* Admin Dashboard */

.nav-link {
    color: white;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.nav-link:hover {
    color: #007bff;
    background-color: #fff;
}

.topnav-icon {
    cursor: pointer;
}

.active {
    background-color: #fff;
    color: #007bff;
}

.display-4 {
    font-weight: 600;
}

.sidenav {
    position: sticky;
    top: 80px;
}

.table-container {
    overflow-y: scroll;
    height: 22.875rem;
}

.table-container-product {
    overflow-y: scroll;
    height: 22.875rem;
}

.table {
    height: 22.875rem;
}

thead {
    position: sticky;
    top: 0px;
}

.card {
    transition: 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: 0px;
    right: 10px;
    font-size: 40px;
    padding: 5px;
    width: 70px;
    text-align: center;
    border-radius: 30%;
}

.sidemenu {
    height: 100vh;
}

.card-dashboard {
    margin-top: 35px;
}

.dashboard-cards {
    padding-top: 3rem;
}

.dashboard-menu {
    padding-top: 3rem;
}

.dashboard-title {
    top: 2.5rem;
    position: sticky;
    z-index: 99;
}

.userlist-container {
    height: 550px; 
    position: sticky; 
    top: 50px;
}

/* Responsive Breakpoints Admin Page */

@media only screen and (max-width: 768px) {
    .table-container-product {
        overflow-y: scroll;
        height: 48rem;
    }

    .table-container {
        height: 52rem;
    }
}

@media only screen and (max-width: 576px) {
    .sidemenu {
        display: none;
    }

    .dashboard-cards {
        padding-top: 0.75rem;
    }

    .dashboard-menu {
        padding-top: 1.5rem;
        padding-bottom: 100px;
    }

    .card-dashboard {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .dashboard-title {
        top: 2.5rem;
        position: sticky;
        z-index: 99;
        background-color: #fff;
        padding-bottom: 10px;
        margin-bottom: 0px;
    }

    .floating-menus div div a {
        color: #fff;
    }

    .table-container {
        height: 33rem;
    }

    .table-container-product {
        overflow-y: scroll;
        height: 30rem;
    }
    
}


/* Product Detail */

body.product-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh
}

.product-action {
    width: 100%;
}

.action-2 i {
    cursor: pointer;
}

.quantity {
    height: 35px;
    width: 40px;
    border-radius: 5px;
    color: #fff;
}

.description-text {
    margin-top: 60px;
}

.desc-text {
    font-size: 18px;
}

.desc-title {
    font-size: 1.5em; 
}

.price {
    font-size: 2.2em;
}

.price-qty {
    display: flex;
}

.qty-edit {
    display: flex;
    align-items: center;
}

.floating-menus {
    width: 100vw;
    height: 75px;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: none;
    overflow: hidden;
}

.detail-container {
    padding-top: 100px;
}

/* Responsive Breakpoints Product Detail */

@media (max-width: 768px) {
    .description-text {
        margin-top: 0px;
    }

    .desc-text {
        font-size: 14px;
    }

    .product-action {
        justify-content: center;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .floating-menus {
        display: block;
    }
    
    .floating-menus div {
        height: 100%;
    }
    
    .floating-menus div div {
        height: 100%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hilang {
        display: none;
    }

    .detail-container {
        padding-bottom: 80px;
        padding-top: 0px;
    }
    
}


/* Checkout Page */

.checkout-title {
    position: sticky;
    top: 76px;
    padding-top: 24px;
    background-color: #fff;
    z-index: 10;
}

.form-checkout {
    margin-left: 3rem;
}

.cart-summary-container {
    margin-left: 1rem;
}

.content-container {
    padding-top: 76px;
}

.delivery-option {
    display: flex;   
}

label.label-form {
    font-weight: 600; 
    font-size: 1.2em;
}

.input-container {
    width: 50%;
}

.delivery-price {
    width: 50%; 
    text-align: end; 
    align-self: center; 
    font-size: 20px; 
    font-weight: 600;
    margin-right: 1rem;
}

.transfer-title {
    margin-left: 0.5rem;
}

.bank-option {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.img-label {
    margin-left: 0.5rem
}

.bank-img {
    width: 50px;
}

.bank-name {
    display: none;
}

.circle-input {
    transform: scale(1.75); 
    margin-top: 20px;
}

.ewallet-option {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.circle-input-ewallet {
    transform: scale(1.75); 
    margin-top: 11px;
}

.ewallet-name {
    display: none;
}

.ewallet-img {
    height: 35px;
}

.gerai-option {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.circle-input-gerai {
    transform: scale(1.75); 
    margin-top: 11px;
}

.circle-input-gerai-indo {
    transform: scale(1.75); 
    margin-top: 0px;
    padding-bottom: 15px;
}

.gerai-img {
    height: 35px;
}

.gerai-img-indo {
    height: 40px;
}

.gerai-name {
    display: none;
}

.gerai-name-indo {
    display: none;
}

.cart-summary-container {
    margin-bottom: 3rem;
}

/* Responsive Breakpoints Checkout Page */

@media only screen and (max-width: 768px) {
    .form-checkout {
        margin-left: 0;
    }

    .cart-summary-container {
        margin-left: 0;
    }
}

@media only screen and (max-width: 576px) {
    .checkout-title {
        top: 0px;
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 28px;
        font-weight: 600;
    }

    .delivery-form {
        padding: 0px;
    }

    .form-checkout {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .content-container {
        padding-top: 0px;
    }

    .menus-form .title {
        font-size: 22px;
    }

    .input-container {
        width: 80%;
        padding-right: 8px;
    }

    label.label-form {
        font-size: 1em;
    }

    .delivery-price {
        width: 20%; 
        font-size: 18px; 
        margin-right: 0;
    }

    .transfer-title {
        width: 90%;
    }

    .bank-option {
        margin-bottom: 1.5rem;
        display: block;
        margin-left: 15px;
    }

    .img-label {
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
    }

    .bank-img {
        width: 40px;
    }

    .bank-name {
        display: block;
        font-weight: 600;
        margin: 0;
        padding-left: 15px;
    }

    .circle-input {
        transform: scale(1.25); 
        margin-top: 15px;
    }

    .ewallet-option {
        display: block;
        padding-left: 15px;
    }

    .circle-input-ewallet {
        transform: scale(1.25);
    }

    .ewallet-name {
        display: block;
        font-weight: 600;
        margin: 0;
        padding-left: 15px;
        font-size: 20px;
    }

    .ewallet-img {
        height: 25px;
    }

    .ewallet-img.gopay {
        height: 20px;
    }

    .options {
        margin-bottom: 10px;
    }

    .gerai-option {
        display: block;
        padding-left: 15px;
    }

    .circle-input-gerai {
        transform: scale(1.25); 
        margin-top: 5px;
    }

    .circle-input-gerai-indo {
        transform: scale(1.25); 
        margin-top: 0px;
    }

    .gerai-img {
        height: 20px;
    }

    .gerai-img-indo {
        height: 20px;
        margin-top: 13px;
    }

    .gerai-name {
        display: block;
        font-weight: 600;
        margin: 0;
        padding-left: 15px;
        font-size: 20px;
    }

    .gerai-name-indo {
        display: block;
        font-weight: 600;
        margin: 0;
        padding-top: 10px;
        padding-left: 15px;
        font-size: 20px;
    }

    .cart-summary-container {
        margin-right: 1rem;
        margin-bottom: 90px;
    }


}

/* Checkout Page End */



@media (max-width: 375px) {
    
    .product-action {
        padding: 10px;
        /* justify-content: start; */
    }
    
    .beli {
        width: 30px;
        display: flex;
        justify-content: center;
        font-weight: 600;
    }

    .tambah {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tambah span {
        display: none;
    }

    .tambah i {
        font-size: 20px;
        padding: 3px;
    }

    .title {
        font-size: 20px;
    }

    .title-desc {
        font-size: 18px;
    }

    .product-category {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .price-qty {
        display: block;
        margin-top: 0px;
    }

    .vl {
        display: none;
    }

    .qty-edit {
        width: 100%;
        justify-content: start;
    }
}

/* Product Detail End */

/* Responsive Breakpoints Contact Page */

@media screen and (min-width : 1024px) {
    .form-banner {
        height: 100vh;
    }

    .form {
        margin-top: 20px;
    }
}


/* Universal Breakpoints */

@media (max-width: 576px) {
    .floating-menus {
        display: block;
    }
}